 /* Pour le curseur clignotant */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blinking-cursor {
  font-weight: normal; /* Ajustez si besoin */
  font-family:'Times New Roman', Times, serif;
  color: rgb(242, 169, 0);
  animation: blink 1s step-end infinite;
  margin-right: -4px; /* Ajustement fin */
  font-size: xx-large
}

/* Assurez-vous que Tailwind et les styles shadcn/ui sont correctement configurés */


@tailwind utilities;


/* body {
  @apply bg-background text-foreground;
} */